force-app/main/default/flows/Account_Related_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>Case</name>
        <choiceText>Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contact</name>
        <choiceText>Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity</name>
        <choiceText>Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Selection_of_the_Related_Record</name>
        <label>Selection of the Related Record</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpportunitySelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_related_record_to_be_created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityCreation</targetReference>
            </connector>
            <label>OpportunitySelected</label>
        </rules>
        <rules>
            <name>ContactSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_related_record_to_be_created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Contact</targetReference>
            </connector>
            <label>ContactSelected</label>
        </rules>
        <rules>
            <name>CaseSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_related_record_to_be_created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Case</targetReference>
            </connector>
            <label>CaseSelected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Origin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Stage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Account Related Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Related Record Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Contact_Record_Creation</name>
        <label>Contact Record Creation</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Enter_your_email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create  Case</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Case_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Opportunity_Record</name>
        <label>Opportunity Record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirm</name>
            <fieldText>&lt;p&gt;Record is created successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_a_Case</name>
        <label>Create a Case</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>Origin</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Type</name>
            <choiceReferences>Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Source</name>
            <choiceReferences>CaseReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_a_Contact</name>
        <label>Create a Contact</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_Record_Creation</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Enter_your_email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OpportunityCreation</name>
        <label>OpportunityCreation</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opportunity_Record</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stage_Name</name>
            <choiceReferences>Stage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Related_Record_of_Account</name>
        <label>Related Record of Account</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selection_of_the_Related_Record</targetReference>
        </connector>
        <fields>
            <name>Which_related_record_to_be_created</name>
            <choiceReferences>Opportunity</choiceReferences>
            <choiceReferences>Contact</choiceReferences>
            <choiceReferences>Case</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which related record to be created</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_Record_of_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
