force-app/main/default/flows/Create_n_Oppo_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AddtoOppRecList</name>
        <label>AddtoOppRecList</label>
        <locationX>827</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>oppRecList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_the_Opportunities_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OppRecAssignment</name>
        <label>OppRecAssignment</label>
        <locationX>753</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>oppRec.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>2023-09-25</dateValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppRec.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppRec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>oppRec+{!counter}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppRec.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoOppRecList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_the_Opportunities_count</name>
        <label>Checking the Opportunities count</label>
        <locationX>537</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>CreateNOppRec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enter_the_number_of_Opportunities_to_be_created</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>counter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OppRecAssignment</targetReference>
            </connector>
            <label>Opp outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create n Oppo Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create n Oppo Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNOppRec</name>
        <label>CreateNOppRec</label>
        <locationX>561</locationX>
        <locationY>421</locationY>
        <inputReference>oppRecList</inputReference>
    </recordCreates>
    <screens>
        <name>Create_n_Oportunities</name>
        <label>Create_n_Oportunities</label>
        <locationX>387</locationX>
        <locationY>225</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checking_the_Opportunities_count</targetReference>
        </connector>
        <fields>
            <name>Enter_the_number_of_Opportunities_to_be_created</name>
            <dataType>Number</dataType>
            <fieldText>Enter the number of Opportunities to be created</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>460</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_n_Oportunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>oppRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppRecList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
