force-app/main/default/flows/Create_n_OppVsCon.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>ConAssignment</name>
        <label>ConAssignment</label>
        <locationX>1013</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>conRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>conRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>conRecord.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>conRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>conRecordListAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>conRecordListAssignment</name>
        <label>conRecordListAssignment</label>
        <locationX>870</locationX>
        <locationY>744</locationY>
        <assignmentItems>
            <assignToReference>ConRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>con_CounterVsNumbe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OppoAssignment</name>
        <label>OppoAssignment</label>
        <locationX>211</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>oppoRec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppoRec.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppoRec.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppoRec.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>oppoRecordListAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>oppoRecordListAssignment</name>
        <label>oppoRecordListAssignment</label>
        <locationX>84</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>oppoRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppoRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>counterVsnumber</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Contact</name>
        <choiceText>Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity</name>
        <choiceText>Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </choices>
    <decisions>
        <name>con_CounterVsNumbe</name>
        <label>con-CounterVsNumbe</label>
        <locationX>761</locationX>
        <locationY>457</locationY>
        <defaultConnector>
            <targetReference>conRecordListCreation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>con_CountvsNum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enter_the_number_of_records</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>counter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConRecordCreation</targetReference>
            </connector>
            <label>con-CountvsNum</label>
        </rules>
    </decisions>
    <decisions>
        <name>counterVsnumber</name>
        <label>counterVsnumber</label>
        <locationX>412</locationX>
        <locationY>443</locationY>
        <defaultConnector>
            <targetReference>OppRecordCreation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>countVsnum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enter_the_number_of_records</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>counter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Oppo_Record</targetReference>
            </connector>
            <label>countVsnum</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Vs_Con</name>
        <label>Opp Vs Con</label>
        <locationX>586</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>conOROpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>counterVsnumber</targetReference>
            </connector>
            <label>opp</label>
        </rules>
        <rules>
            <name>Con</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>conOROpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>con_CounterVsNumbe</targetReference>
            </connector>
            <label>Con</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Stage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create_n_OppVsCon {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create_n_OppVsCon</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>conRecordListCreation</name>
        <label>conRecordCreation</label>
        <locationX>741</locationX>
        <locationY>706</locationY>
        <inputReference>ConRecordList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>OppRecordCreation</name>
        <label>OppRecordCreation</label>
        <locationX>459</locationX>
        <locationY>689</locationY>
        <inputReference>oppoRecordList</inputReference>
    </recordCreates>
    <screens>
        <name>ConRecordCreation</name>
        <label>ConRecord</label>
        <locationX>886</locationX>
        <locationY>558</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConAssignment</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Mobile</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConVsOpp</name>
        <label>ConVsOpp</label>
        <locationX>586</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Number_of_Records</targetReference>
        </connector>
        <fields>
            <name>conOROpp</name>
            <choiceReferences>Contact</choiceReferences>
            <choiceReferences>Opportunity</choiceReferences>
            <dataType>String</dataType>
            <fieldText>conOROpp</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Oppo_Record</name>
        <label>New Oppo Record</label>
        <locationX>319</locationX>
        <locationY>544</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OppoAssignment</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stage_Name</name>
            <choiceReferences>Stage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Number_of_Records</name>
        <label>Number_of_Records</label>
        <locationX>586</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opp_Vs_Con</targetReference>
        </connector>
        <fields>
            <name>Enter_the_number_of_records</name>
            <dataType>Number</dataType>
            <fieldText>Enter the number of records</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>460</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ConVsOpp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>conRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ConRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>oppoRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppoRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
