force-app/main/default/flows/Created_REL_record_with_SUBFLOW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>Case</name>
        <choiceText>Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contact</name>
        <choiceText>Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity</name>
        <choiceText>Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_on_Related_Record</name>
        <label>Decision on Related Record</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OppSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Opportunity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OppoCreation</targetReference>
            </connector>
            <label>OppSelected</label>
        </rules>
        <rules>
            <name>ConSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>conCreation1</targetReference>
            </connector>
            <label>ConSelected</label>
        </rules>
        <rules>
            <name>CaseSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>casecreation</targetReference>
            </connector>
            <label>CaseSelected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Created REL record with SUBFLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Created REL record with SUBFLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Selection_of_related_records</name>
        <label>Selection of related records</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_on_Related_Record</targetReference>
        </connector>
        <fields>
            <name>Select_a_record</name>
            <choiceReferences>Contact</choiceReferences>
            <choiceReferences>Opportunity</choiceReferences>
            <choiceReferences>Case</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a record</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Selection_of_related_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>casecreation</name>
        <label>casecreation</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <flowName>caseCreation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>conCreation1</name>
        <label>conCreation1</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <flowName>Contact_Record_Creation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>OppoCreation</name>
        <label>OppoCreation</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <flowName>OpportunityCreation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
