force-app/main/default/flows/GPO_Connect_Case_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>Aissue</name>
        <choiceText>A issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Aquestion</name>
        <choiceText>A question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A question</stringValue>
        </value>
    </choices>
    <choices>
        <name>Question1</name>
        <choiceText>I have a general question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I have a general question</stringValue>
        </value>
    </choices>
    <choices>
        <name>Question2</name>
        <choiceText>I have a question about a Member or Manufacturer Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I have a question about a Member or Manufacturer Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Question3</name>
        <choiceText>A Member or Manufacturer has the question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A Member or Manufacturer has the question</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision1</name>
        <label>Decision1</label>
        <locationX>537</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Who_has_a_question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Question1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question_Details</targetReference>
            </connector>
            <label>Outcome1</label>
        </rules>
        <rules>
            <name>Outcome2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Who_has_a_question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Question2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requester</targetReference>
            </connector>
            <label>Outcome2</label>
        </rules>
        <rules>
            <name>Outcome3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Who_has_a_question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Question3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requester_Outcome3</targetReference>
            </connector>
            <label>Outcome3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GPO Connect Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPO Connect Case Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Question_Details</name>
        <label>Question Details</label>
        <locationX>537</locationX>
        <locationY>698</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ThanksYou</targetReference>
        </connector>
        <fields>
            <name>QuestionDetails</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Question Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Summarize_the_Question</name>
            <dataType>String</dataType>
            <fieldText>Summarize the Question</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_the_details_of_the_question</name>
            <fieldText>Enter the details of the question</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>addFile</name>
            <extensionName>c:addFile</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contentDocumentIds</name>
                <value>
                    <elementReference>varContentDocumentIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen</name>
        <label>Questions Screen</label>
        <locationX>537</locationX>
        <locationY>182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision1</targetReference>
        </connector>
        <fields>
            <name>What_can_we_help_with</name>
            <choiceReferences>Aquestion</choiceReferences>
            <choiceReferences>Aissue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What can we help with?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Who_has_a_question</name>
            <choiceReferences>Question1</choiceReferences>
            <choiceReferences>Question2</choiceReferences>
            <choiceReferences>Question3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who has a question</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>What_can_we_help_with</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Aquestion</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>What_can_we_help_with</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Aissue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Requester</name>
        <label>Requester</label>
        <locationX>361</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Question_Details</targetReference>
        </connector>
        <fields>
            <name>Screen2_3</name>
            <fieldText>&lt;p&gt;Screen2_3&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>findAccount</name>
            <extensionName>c:findAccount</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Requester_Outcome3</name>
        <label>Requester- Outcome3</label>
        <locationX>625</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Question_Details</targetReference>
        </connector>
        <fields>
            <name>findAccountContact</name>
            <extensionName>c:findAccount</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayContact</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ThanksYou</name>
        <label>ThanksYou</label>
        <locationX>537</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Thank You&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p&gt;Your case has been created for the GPO Solutions Service Team.&lt;/p&gt;&lt;p&gt;Do you want to create another case?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>411</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Questions_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
